<header>
  <nav>
    <div class="navcuadro">

    </div>
  </nav>
</header>
<section class="sec1 d-flex">
    <div class="sec1cuadro"></div>
    <div class="sec1cuadro"></div>
</section>
<section class="sec2 d-flex">
  <div class="sec2cuadro"></div>
  <div class="sec2cuadro"></div>
  <div class="sec2cuadro"></div>
</section>
<footer>

</footer>
<router-outlet></router-outlet>
