
header{
    display: flex;
    height: 30vh;
    width: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
}
.navcuadro{
    height: 20vh;
    width: 75vw;
    background-color: grey;
    border: black;
}
.sec1{
    height: 30vh;
    width: 100%;
    background-color: forestgreen;
    justify-content: space-around;
    align-items: center;
}
.sec1cuadro{
    height: 20vh;
    width: 40vw;
    background-color: rgb(69, 69, 204);
    border: #000000;
}
.sec2{
    height: 30vh;
    width: 100%;
    background-color: crimson;
    justify-content: space-around;
    align-items: center;
}
.sec2cuadro{
    height: 23vh;
    width: 24vw;
    background-color: gold;
    border: black;
}
footer{
    height: 20vh;
    width: 100%;
    background-color: rgb(228, 166, 11);
}